<!DOCTYPE html>
<html>
<head>
    <title>Çölyak Karar Destek Sistemi</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Çölyak Karar Destek Sistemi</h1>

    <form action="/predict" method="POST">

        <label>Yaş</label>
        <input type="number" name="age" required>

        <label>Cinsiyet</label>
        <select name="gender">
            <option>Erkek</option>
            <option>Kadın</option>
        </select>

        <label>Karın Ağrısı</label>
        <select name="pain">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>Diyare</label>
        <select name="diarrhea">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>Kilo Kaybı</label>
        <select name="weightloss">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>IgA Seviyesi</label>
        <input type="number" step="0.1" name="iga" required>

        <label>tTG-IgA</label>
        <input type="number" step="0.1" name="ttg" required>

        <label>EMA-IgA Pozitif mi?</label>
        <select name="ema">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>HLA-DQ2/DQ8 Pozitif mi?</label>
        <select name="hla">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>Anemi Var mı?</label>
        <select name="anemia">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <br><br>

        <button type="submit">
            Risk Analizi Yap
        </button>

    </form>

</div>

</body>
</html>