<!DOCTYPE html>
<html>
<head>
    <title>Çölyak Risk Analiz Sistemi</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Çölyak Risk Analiz Sistemi</h1>

    <p>Belirtilerinizi girerek risk analizi yapın.</p>

    <form action="/predict" method="POST">

        <label>Yaş</label>
        <input type="number" name="age" required>

        <label>Karın Ağrısı Var mı?</label>
        <select name="pain">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <label>İshal Var mı?</label>
        <select name="diarrhea">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>

        <button type="submit">
            Risk Analizi Yap
        </button>

    </form>

</div>

</body>
</html>